/*
	Mark Johnson
	AVF 1306
	Note Buddy
*/

/*
#home a.ui-btn {
	max-width: 50%;
  	min-width: 70%;
  	margin: 10px auto; 
}
#home {
	background: #424242;
}

#home .ui-btn-inner {
  	font-size: 18px;
}
*/

#home textarea {
	height:500px;
	box-shadow:0px 0px 0px #fff;
	border: 0px solid #fff;
 	background: #f9f9f9;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#eeeeee));
	background-image: -webkit-linear-gradient(#f9f9f9, #eeeeee);
	background-image: -moz-linear-gradient(#f9f9f9, #eeeeee);
	background-image: -o-linear-gradient(#f9f9f9, #eeeeee);
	background-image: linear-gradient(#f9f9f9, #eeeeee);
}

/*********************************
	settings panel style
*********************************/
.ui-panel-inner {
	padding: 0;
}

#home .logo {
	min-width: 286px;
	max-width: 286px;
	min-height: 163px;
	max-height: 163px;
	vertical-align: middle;
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
}

/*********************************
	features page style
*********************************/
.slider .flexslider .slides img {
	max-width: 70%;
	min-width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px; 
}




html,body, div[data-role ="page"] {
            height: device-height;
            width: device-width;
            margin: 0px;
            padding: 0px;
        }
 
        



